# BUILD
build**/

## PACKAGES
# Ignore CMake Package Manager and cache
cmake/
.cpmcache/
# Ignore AudioFiles
AudioFile/
# Ignore CNL
cnl/

## IDE
.vscode/
.vscode-ctags
.idea/
.docker/

# Ignore Temporary Files
temp/
optrode_record*
