# BUILD
build**/

## PACKAGES
# Ignore CMake Package Manager and cache
cmake/
# Ignore AudioFiles
AudioFile/
# Ignore CNL
cnl/

## IDE
.cpmcache/
.idea/

# Ignore Temporary Files
temp/
optrode_record*
